.content {
	display: flex;
	flex-direction: column;
}
.bottomContainer {
	display: flex;
}
.rightContainer {
	flex-grow: 1;
	min-height: 50vh;
	border-left: 3px solid #ebeef0;
}

@media screen and (min-width: 900px) {
	.leftContainer {
		width: 70vw;
	}
	.bottomContainer {
		min-height: 60vh;
	}
}

@media screen and (max-width: 1000px) {
	.bottomContainer {
		flex-direction: column;
	}
	.rightContainer {
		border: 0;
		border-top: 3px solid #ebeef0;
	}
}
