.content {
	display: flex;
}
.rightContainer {
	flex-grow: 2;
	min-height: 90vh;
	border-left: 3px solid #ebeef0;
}

@media screen and (min-width: 900px) {
	.leftContainer {
		width: 70vw;
	}
}

@media screen and (max-width: 1000px) {
	.content {
		flex-direction: column;
	}
	.rightContainer {
		border: 0;
		border-top: 3px solid #ebeef0;
	}
}
