.liveEventBox.chess {
	--theme_color: rgb(52, 52, 52);
}
.liveEventBox {
	margin: 5px;
	min-width: 370px;
	--theme_color: #04aa6d;
	border-radius: 2px;
	scroll-snap-align: center;
	box-shadow: 0 5px 10px rgba(0, 57, 111, 0.15);

	.VS {
		font-size: 1.3rem;
		color: var(--theme_color);
	}

	.eventCategory {
		background-color: color-mix(in srgb, var(--theme_color) 80%, white 20%);
		color: white;
		font-size: 18px;
		margin: 5px;
		padding: 2px;
		padding-right: 5px;
		border-radius: 5px;
		display: flex;
		width: min-content;
		align-items: center;
	}
	.hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.footballScoresContainer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: white;
		color: black;
		margin-bottom: 10px;
	}
}

.liveEventBox h3 {
	margin: 0px;
	font-weight: 500;
	text-align: center;
}

.footballScoresContainer h3 {
	display: inline;
}
.footballScoresContainer > div {
	display: flex;
	padding: 5px 0px 0px 0px;
	border-radius: 5px;
	flex-direction: column;
	align-items: center;
}
.footballScoresContainer > div > p {
	margin: 0.5em;
	padding: 7px;
	border-top: groove black 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 1.7rem;
	font-weight: 600;
	background-color: var(--theme_color);
	color: white;
}

.footballScoresContainer h3 {
	font-size: 1.4rem;
}
