.sidebar {
	height: 100vh;
	width: 100px;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;

	.items {
		flex-grow: 1;
		padding: 5px;

		.item {
			padding: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	.bottom {
		padding: 5px;
	}
}
